.appoint-table{
    background-color: #FEF8FD;
    border: unset;
}
.appoint-table tr{
    border: 1px solid #80808038;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #80808029;
}
.appoint-table tr:last-child{
    margin-bottom: 0px;
}
.appoint-table tr td{
    border-right: 1px solid #80808038;
}
.appoint-table tr td:last-child{
    border: unset;
}
.appoint-table tr td table{
    background-color: transparent;
}
.appoint-table tr td table tr{
    background-color: transparent;
    border: unset;
    margin-bottom: 0px;
    box-shadow: unset;
    padding: 0px;
}
.appoint-table tr td table tr td{
    border: unset;
}
.table-height{
    height: 80vh;
    overflow: auto;
}