.cimg{
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
}
.choose-d .cimg{
    opacity: .8;
    box-shadow: unset !important;
}
.health-form input:focus{
    outline: unset !important;
    border: 2px solid #b30f73;
    --tw-ring-color:unset;
}
.health-form select:focus{
    outline: unset !important;
    border: 2px solid #b30f73;
    --tw-ring-color:unset;
}
.health-form select option:hover{
    background-color: #b30f73 !important;
    color: #fff !important;
}
.health-form label{
    top: -10px !important;
    background-color: #fff !important;
    height: auto !important;
    left: 10px !important;
}